engine-strict=true
legacy-peer-deps=true
# Force installation of optional dependencies
omit=dev
# Make sure sharp is installed correctly
sharp_binary_host=https://npmmirror.com/mirrors/sharp
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips